[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
mypy = "*"
pytest = "*"
pytest-env = "*"
flake8 = "*"
freezegun = "*"

[packages]
elasticsearch = "*"

[requires]
python_version = "3.8"
